$colors: (
  primary:    #0094af,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

	// Primary colors
	primary_or: #f7b21b,
	primary_or2: #f49500,
	primary_bl: #5dc3de,
	primary_bl2: #009ab8,
	primary_gr: #7c878e,
	primary_gr2: #5d656b,

	// Secondary colors
	secondary_bl: #015f7d,
	secondary_bl2: #054156,
	secondary_gr: #eaeaea,
	secondary_gr2: #f6f6f6,
	secondary_dk: #101820,
	secondary_dk2: #40464d,

	// Entity colors
	entity_bl: #5dc3de,
	entity_bl2: #009ab8,
	entity_or: #f7b21b,
	entity_or2: #f49500,
	entity_gr: #aedd7e,
	entity_gr2: #9ad163,
	entity_re: #f77d57,
	entity_re2: #eb6338,

	// Alert colors
	alert_bl: #5dc3de,
	alert_or: #f7b21b,
	alert_gr: #7bceb4,
	alert_re: #e15d27

);
